<!-- to make height fixed when spinner show  -->
<!-- <div class="spinner-height" *ngIf="wishlistSpinner"></div> -->

<!---->
<div class="container">
    <span *ngIf="whishlistEmpty">
    <h1 class="whishlist-empty">Whishlist is empty</h1>
  </span>
    <div class="row">
        <span *ngIf="!whishlistEmpty" class="not-empty-whishlist">

    <div class="col-3">
      <span class="spinner" *ngIf="wishlistSpinner">
        <app-fulfilling-square-spinner
          id="spinner"
          [animationDuration]="4000"
          [size]="50"
          [color]="'#E30B13'"
        >
        </app-fulfilling-square-spinner>
        <app-fulfilling-square-spinner
          id="spinnerMobile"
          [animationDuration]="4000"
          [size]="40"
          [color]="'#E30B13'"
        >
        </app-fulfilling-square-spinner>
      </span>
    </div>
    <div class="col col-lg-6 col-md-6 col-xs-12" style="    margin: auto;">
        <span *ngIf="!wishlistSpinner">
        <div  *ngFor="let product of whishlistItems">
          <div class="row no-gutters">
            <div >
              <img
                src="{{ (product?.productimage)[0]?.image_url }}"
                class="card-img"
                alt="..."
                (click)="navigateProduct(product?.id)"
              />
            </div>
            <div >
              <div class="card-body">
                <h5 class="card-title" (click)="navigateProduct(product?.id)">
                  {{ product?.name }}
                </h5>
                <p class="card-text">
                  <small class="brand">{{ product?.brand_name }}</small>
                </p>
                <p class="price">
                  {{ product?.price_after_sale }},00<span>EGPdadsad</span>
        </p>
        <p class="price">{{ product?.price }},00<span>EGP</span></p>
        <div class="save-for-later">
            <p (click)="addToCart(product?.id)" *ngIf="product?.availability == 'In Stock'">
                <small>Add To Cart</small>
            </p>
        </div>
        <div class=" remove" [ngStyle]="{
                    'margin-left':
                      product?.availability == 'In Stock' ? '30px' : '0px'
                  }">
            <p (click)="removeFromWhishlist(product?.id)">
                <small>Remove</small>
            </p>
        </div>
    </div>
</div>
</div>
</div>
</span>
</div>
</span>
</div>
</div>
<!-- to make height fixed when spinner show  -->
<div class="spinner-height" *ngIf="wishlistSpinner"></div>