.upper {
    background-image: url('../../assets/images/about.jpg');
    height: 440px;
    background-size: 100% 100%;
}
.lower {
    background-color: #f5f5f5;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}
.store {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: bold;
    color: rgba(75, 88, 88, 1);
}
.by {
    font-family: 'Roboto-Medium';
    font-size: 24px;
    color: rgba(75, 88, 88, 1);
    text-align: left;
}
.by span {
    font-family: 'Roboto-Light';
    font-size: 24px;
    color: rgba(52, 152, 219, 1);
}
.paragraph {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: rgba(75, 88, 88, 1);
    font-weight: bold;
}
.contact-detail {
    font-family: 'Roboto-Medium';
    font-size: 24px;
    color: rgba(75, 88, 88, 1);
    margin-top: 6%;
    font-weight: bold;
}
.fax {
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: rgba(75, 88, 88, 1);
    font-weight: bold;
}
.tel {
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: rgba(75, 88, 88, 1);
    font-weight: bold;
}
.phone {
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: rgba(75, 88, 88, 1);
    font-weight: bold;
}
.store-address {
    font-family: 'Roboto-Medium';
    font-size: 24px;
    color: rgba(75, 88, 88, 1);
    font-weight: bold;
    margin-top: 6%;
}
.address {
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: rgba(75, 88, 88, 1);
    font-weight: bold;
    margin-bottom: 10%;
}
agm-map {
  height: 450px;
}
.location {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  color: rgba(75, 88, 88, 1);
  font-weight: bold;
  margin-bottom: 5%;
}
@media (max-width: 576px) {
  .upper{
    height: 160px;
  }
  .store {
    font-size: 20px;
  }
  .by {
    font-size: 16px;
  }
  .by span {
    font-size: 15px;
  }
  .paragraph {
    font-size: 11px;
  }
  .contact-detail {
    font-size: 14px;
    margin-top: 0%;
  }
  .phone {
    font-size: 12px;
  }
  .tel {
    font-size: 12px;
  }
  .fax {
    font-size: 12px;
  }
  .store-address{
    font-size: 14px;
    margin-top: 0%;
  }
  .address {
    font-size: 12px;
    color: #4b5858;
    font-weight: bold;
    margin-bottom: 8%;
  }
  .location{
    font-size: 14px;
    color: #4b5858;
    font-weight: bold;
    margin-bottom: 8%;
  }
  agm-map {
    height: 220px;
  }
  .map {
    padding-bottom: 10%;
  }
}