.container-fluid {
    background-color: #f5f5f5;
}

h1 {
    font-family: "Roboto-Bold";
    font-size: 32px;
    color: #4b5858;
}

.second {
    padding-right: 10%;
    padding-top: 5%;
    margin-bottom: 150px;
}

.first {
    padding-left: 10%;
    padding-top: 5%;
}

////my work
.table {
    max-width: 700px;
}

.by {
    font-family: "Roboto-Medium";
    font-size: 16px;
    color: #4b5858;
    font-weight: bold;
}

.by span {
    font-family: "Roboto-Light";
    font-size: 12px;
    color: #3498db;
    font-weight: unset;
    margin-top: 3%;
    margin-bottom: 3%;
}

.first-price {
    font-family: "Roboto-Bold";
    font-size: 20px;
    color: red;
    // font-weight: bold;
}

.first-price span {
    font-size: 16px;
    margin-left: 5px;
}

.buy {
    cursor: pointer;
    color: white !important;
    // background-color: #2ecc71;
    background-color: #0b4d26; //tayeb
    font-family: "Roboto-Bold";
    font-size: 22px;
    text-transform: uppercase;
    border-radius: unset;
    padding: 15px 90px;
}

.cart {
    background-color: #ecf0f1;
    margin-left: 3%;
    padding-top: 6px;
    border: 1px solid;
}

.cart>img {
    width: 46px;
}

.wish {
    margin-top: 0;
    margin-bottom: 40%;
}

.wishlist {
    background-color: #ecf0f1;
    padding: 1px 7px 1px 7px;
    margin-top: -1%;
}

.wishlist span {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    color: #95a5a6;
    margin-left: 10px;
}

.wishlist img {
    width: 18px;
}

#first {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4%;
}

#first a,
#second a,
#third a,
#fourth a {
    color: unset;
}

#second {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}

#third {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}

#fourth {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}

.links {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2%;
}

.links a {
    color: #3498db;
    text-decoration: none;
    font-family: "Roboto-Light";
    font-size: 16px;
}

.links :nth-child(1) {
    margin-right: 2%;
}

.links :nth-child(2) {
    margin-right: 2%;
}

.description {
    background-color: #ecf0f1;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.description h2 {
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: #4b5858;
    font-weight: bold;
}

.description .paragraph {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    color: #4b5858;
    margin-top: 2%;
    margin-bottom: 3%;
}

.spec {
    display: flex;
}

.prod-spec {
    font-family: "Roboto-Bold";
    font-size: 22px;
    font-weight: bold;
    color: #4b5858;
    margin-top: 2%;
    margin-left: -12px;
}

.spec ul {
    list-style-type: none;
    margin: 15px auto;
}

.spec ul li {
    font-family: "Roboto-Bold";
    font-size: 14px;
    color: #4b5858;
    font-weight: unset;
    margin-bottom: 6%;
    font-weight: bold;
}

.spec ul:first-of-type {
    margin-left: -7%;
}

.spec ul:last-of-type {
    margin-left: -40%;
}

.spec :nth-child(2) li {
    line-height: 1.96;
}

.recommended {
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: #4b5858;
    font-weight: bold;
    margin-top: 25%;
    margin-bottom: 5%;
}

.card {
    border: unset;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 24%;
    min-width: 24%;
    margin-bottom: 2%;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    overflow: hidden !important;
    .card1 {
        // display: unset !important;
        flex: 0 0 auto !important;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        max-width: 24%;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        // padding-bottom: 20px;
    }
}

.controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.arrow-left>img,
.arrow-right>img {
    cursor: pointer;
}

.arrow-left {
    margin-right: 80px;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 255, 0.2);
    -moz-box-shadow: -5px 5px 10px 5px rgba(0, 0, 255, 0.2);
    -webkit-box-shadow: -5px 5px 10px 5px rgba(0, 0, 255, 0.2);
}

.text-muted {
    font-family: "Roboto-Light";
    font-size: 10px;
    color: #3498db !important;
}

.rec {
    background-color: #f5f5f5;
    padding-left: 10%;
    padding-right: 10%;
}

.pop {
    background-color: #f5f5f5;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.price {
    margin-left: unset;
    color: #000 !important;
    float: left;
    font-size: 15px;
    margin-top: 23px;
    margin-bottom: 33%;
    text-decoration: line-through;
}

.price-4 {
    color: red;
}

.price small {
    margin-left: 5px;
    font-size: 60%;
    font-weight: bold;
    font-size: 80%;
    font-weight: 400;
}

// .small {
//     margin-top: 22px !important;
//     position: absolute
// }
.card-price-like :nth-child(2) {
    float: right;
    margin-top: 6%;
    margin-left: 4%;
    cursor: pointer;
}

.card-price-like :nth-child(2) img {
    height: 16px;
    width: 20px;
    cursor: pointer;
}

.card-price-like :nth-child(3) {
    float: right;
    margin-top: 6%;
    margin-left: 4%;
    cursor: pointer;
}

.card-price-like :nth-child(3) img {
    height: 17px;
    width: 20px;
}

.card-price-like :nth-child(4) {
    float: right;
    margin-top: 6%;
    cursor: pointer;
}

.arrows {
    float: right;
    margin-top: 30%;
    margin-bottom: 30%;
}

figure {
    margin-bottom: 3% !important;
}

#carousel-container {
    margin-bottom: 3% !important;
}

.current-figure {
    margin-bottom: 3% !important;
}

.current-image {
    min-height: 430px;
    max-height: 430px;
}

.gallary-desktop {
    display: block;
}

.gallary-mobile {
    display: none;
}

.desktop-slider {
    display: block;
}

.mobile-slider {
    display: none;
}

.my-wrapper {
    min-height: 30%;
}

.my-wrapper:hover img {
    opacity: 0.1;
}

.my-wrapper:hover .middle {
    opacity: 1;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #e74c3c;
    color: white;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
}

.spec>p {
    font-size: 16px;
    text-align: justify;
    padding-right: 100px;
}

i {
    font-family: FontAwesome !important;
    // font-size: 18px;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #38a1f3;
}

.fa-facebook:hover {
    color: #4267b2;
}

.fa-instagram:hover {
    color: #231f20;
}

.fa-pinterest-p:hover {
    color: #bd081c;
}

@media (max-width: 576px) {
    .gallary-desktop {
        display: none;
    }
    .gallary-mobile {
        display: block;
    }
    .desktop-slider {
        display: none;
    }
    .mobile-slider {
        display: flex;
    }
    h1 {
        font-size: 17px;
    }
    .second {
        padding-left: 5%;
    }
    .by {
        font-size: 11px;
    }
    .by span {
        font-size: 9px;
    }
    .first-price {
        font-size: 14px;
    }
    .first-price span {
        font-size: 11px;
        margin-left: 2px;
    }
    .buy {
        font-size: 12px;
        padding: 10px 53px;
    }
    .cart>img {
        width: 22px;
    }
    .cart {
        background-color: #ecf0f1;
        margin-left: 3%;
        padding-top: 2px;
    }
    .wishlist {
        line-height: 1.2;
        padding: 0px 5px 4px 5px;
    }
    .wishlist span {
        margin-left: 5px;
        font-size: 10px;
    }
    .wishlist img {
        width: 12px;
        margin-top: 5px;
    }
    #first,
    #second,
    #third,
    #fourth {
        height: 19px;
        width: 19px;
    }
    .wish {
        margin-top: 0;
        margin-bottom: 10%;
    }
    .links :nth-child(1) {
        margin-right: 4%;
    }
    .links :nth-child(2) {
        margin-right: 4%;
    }
    .links :nth-child(3) {
        margin-right: 4%;
    }
    .links a {
        font-size: 13px;
    }
    .description h2 {
        font-size: 16px;
    }
    .description .paragraph {
        font-size: 10px;
    }
    .prod-spec {
        font-size: 12px;
    }
    .spec ul {
        padding-left: 0px;
    }
    .spec ul:last-of-type {
        margin-left: 0%;
        margin-right: 0px;
    }
    .spec ul li {
        font-size: 7px;
    }
    .spec :nth-child(2) li {
        line-height: 2.1;
    }
    .spec :nth-child(2) {
        font-size: 6px;
    }
    .spec :nth-child(1) {
        font-size: 8px;
    }
    .first {
        padding-left: unset;
    }
    .recommended {
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .card-deck {
        flex-direction: row;
        overflow-x: auto;
        flex-direction: row;
        -webkit-flex-direction: row;
        overflow: scroll;
        width: 100%;
    }
    .card {
        min-width: 50%;
        width: 50%;
    }
    .card-text {
        font-size: 8px;
        margin-top: -14px;
        min-height: 38px;
        max-height: 38px;
    }
    .text-muted {
        font-size: 10px;
        color: #3498db !important;
        margin-top: 20px !important;
        position: absolute !important;
    }
    .price {
        font-size: 9px !important;
        margin-top: -4px;
    }
    .card-price-like :nth-child(2) img {
        height: 12px;
        width: 14px;
    }
    .card-price-like:nth-child(3) img {
        height: 12px !important;
        width: 14px !important;
    }
    .card-body {
        padding: 0.9rem;
    }
    .card-price-like :nth-child(3) {
        margin-top: -7%;
    }
    .card-price-like :nth-child(2) {
        margin-top: -7%;
    }
    .text {
        font-size: 9px;
        padding: 5px 10px;
    }
    .card-price-like :nth-child(4) {
        margin-top: -7%;
    }
    .my-wrapper {
        min-height: 50%;
    }
    .scrolling-wrapper-flexbox {
        display: none;
    }
    .controls {
        display: none;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    .links a {
        font-size: 11px;
    }
    .prod-spec {
        font-size: 10px;
    }
    .spec ul:last-of-type {
        margin-left: 0%;
        margin-right: -10px;
    }
    .spec ul li {
        font-size: 6px;
    }
    .card {
        min-width: 45%;
        width: 45%;
    }
    .text {
        font-size: 6px;
        padding: 5px 10px;
    }
    .my-wrapper {
        min-height: 48%;
    }
    .card {
        min-width: 58%;
        width: 58%;
    }
    .scrolling-wrapper-flexbox {
        display: none;
    }
    .controls {
        display: none;
    }
}

////