<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 first">
           
            <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
            <!-- <ks-modal-gallery [id]="0" [modalImages]="images"></ks-modal-gallery> -->
            <!-- <ks-carousel [id]="100" [images]="images"></ks-carousel> -->
            <ks-carousel *ngIf="showGallary" [id]="107" [images]="imagesRect" [playConfig]="{autoPlay: false}" [previewConfig]="{visible: true, number: 5}"></ks-carousel>
        </div>
        <div class="col-lg-6 second">
            <h1>{{ product.name }}</h1>
            <p class="by">by <span>{{ product.brand.name }}</span></p>
            <p class="first-price">{{ product.price }}.00<span>EGP</span></p>
            <a  class="btn  btn-lg active buy" role="button"  (click)="buy()">buy now</a>
            <a  class="btn cart btn-lg active" role="button" aria-pressed="true"><img src="assets/icons/Addtocartbtn.png" alt=""></a>
            <div class="wish">
                <a  class="btn wishlist btn-lg active" role="button" aria-pressed="true"><img src="assets/icons/love@1x.png" alt=""><span>Add to wishlist</span></a>
                <span id="first"></span>
                <span id="second"></span>
                <span id="third"></span>
                <span id="fourth"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 links">
            <a href="#">Description</a>
            <a href="#">Specifications</a>
            <a href="#">Other Details</a>
        </div>
    </div>
</div>
<div class="container-fluid description">
    <div class="row">
        <div class="col-lg-12 ">
            <h2>Description</h2>
            <p class="paragraph">{{ product.short_description }}</p>
        </div>       
        <div class="col-lg-6">
            <p class="prod-spec">Product Specifications</p>
            <div class="spec">
                <ul>
                    <li>Specification 1-2-3-5-6-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="prod-spec">Product Specifications</p>
            <div class="spec">
                <ul >
                    <li>Specification 1-2-3-5-6-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul>
            </div>
        </div>     
        <div class="col-lg-6">
            <p class="prod-spec">Product Specifications</p>
            <div class="spec">
                <ul>
                    <li>Specification 1-2-3-5-6-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="prod-spec">Product Specifications</p>
            <div class="spec">
                <ul>
                    <li>Specification 1-2-3-5-6-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid rec">
    <div class="row">
        <div class="col-12-lg">
            <p class="recommended">Recommended for you</p>
        </div>
        <div class="col-lg-12">
            <div class="card-deck">
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                        <p class="card-text"><small class="text-muted">UnionAir, Televisions</small></p>
                        <div class="card-price-like">
                            <h5 class="price">2,150.00<small>EGP</small></h5>
                            <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                            <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pop">
    <div class="row">
        <div class="col-12-lg">
            <p class="recommended">Popular products</p>
            
            
        </div>
        
                

        <div class="col-lg-12">
     
               
    
            <div class="card-deck">
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                        <p class="card-text"><small class="text-muted">UnionAir, Televisions</small></p>
                        <div class="card-price-like">
                            <h5 class="price">2,150.00<small>EGP</small></h5>
                            <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                            <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>