<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 first">
           
            <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
            <!-- <ks-modal-gallery [id]="0" [modalImages]="images"></ks-modal-gallery> -->
            <!-- <ks-carousel [id]="100" [images]="images"></ks-carousel> -->
            <ks-carousel *ngIf="showGallary" [id]="107" [images]="imagesRect" [playConfig]="{autoPlay: false}" [previewConfig]="{visible: true, number: 5}" class="gallary-desktop"></ks-carousel>
            <ks-carousel *ngIf="showGallary" [id]="108" [images]="imagesRect" [playConfig]="{autoPlay: false}" [previewConfig]="{visible: true, number: 2}" class="gallary-mobile"></ks-carousel>

        </div>
        <div class="col-lg-6 second">
            <h1>{{ product?.name }}</h1>
            <p class="by">by <span>{{ product?.brand?.name }}</span></p>
            <p class="first-price">{{ product?.price }}.00<span>EGP</span></p>
            <a  class="btn  btn-lg active buy" role="button"  (click)="buy()">buy now</a>
            <a  *ngIf="!inCart" class="btn cart btn-lg active" role="button" aria-pressed="true" (click)="addToCart(product?.id)" style="cursor:pointer;"><img src="assets/icons/Addtocartbtn.png" alt=""></a>
            <div class="wish">
                <a *ngIf="!inWhishlist" class="btn wishlist btn-lg active" role="button" aria-pressed="true" (click)="addToWhishlist(product?.id)" style="cursor:pointer;"><img src="assets/icons/love@1x.png" alt=""><span>Add to wishlist</span></a>
                <span id="first"></span>
                <span id="second"></span>
                <span id="third"></span>
                <span id="fourth"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 links">
            <a href="#">Description</a>
            <a href="#">Specifications</a>
            <a href="#">Other Details</a>
        </div>
    </div>
</div>
<div class="container-fluid description">
    <div class="row">
        <div class="col-lg-12 ">
            <h2>Description</h2>
            <p class="paragraph">{{ product.short_description }}</p>
        </div>       
        <div class="col-lg-6 col-6" *ngFor="let detail of  detailedDescription;">
            <p class="prod-spec">{{ detail?.title }}</p>
            <div class="spec">
                <p>
                    {{ detail?.text }}
                </p>
                <!-- <ul>
                    <li>Specification 1-2-3-5-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul> -->
            </div>
        </div>
        <!-- <div class="col-lg-6 col-6">
            <p class="prod-spec">Product Specifications</p>
            <div class="spec">
                <ul >
                    <li>Specification 1-2-3-5-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul>
            </div>
        </div>     
        <div class="col-lg-6 col-6">
            <p class="prod-spec">Product Specifications</p>
            <div class="spec">
                <ul>
                    <li>Specification 1-2-3-5-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-6">
            <p class="prod-spec">Product Specifications</p>
            <div class="spec">
                <ul>
                    <li>Specification 1-2-3-5-6-6-6-6</li>
                    <li>Specification 1-2-3-5 - 6 -7 -8</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                    <li>Specifications 1-2-3-5</li>
                </ul>
                <ul>
                    <li>123</li>
                    <li>something</li>
                    <li>No</li>
                    <li>nothing</li>
                    <li>ok</li>
                    <li>yes</li>
                    <li>what !</li>
                </ul>
            </div>
        </div> -->
    </div>

</div>

<div class="container-fluid rec">
    <div class="row">
        <div class="col-12-lg">
            <p class="recommended">Recommended for you </p>
        </div>
        <div class="col-lg-12">
            <app-slider class="desktop-slider">
                <div class="card-deck" appSliderItem>
                    <div class="card" *ngFor="let product of recProducts;let i = index">
                        <div class="my-wrapper">
                            <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct(product.id)" alt="...">
                            <div class="middle">
                                <div class="text" (click)="navigateProduct(product.id)">learn More</div>
                            </div>
                        </div>
                        <div class="card-body">
                        <p class="card-text">{{product?.product?.name}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="card-price-like">
                            <h5 class="price">{{ product?.product?.price }}.00<small>EGP</small></h5>
                            <a *ngIf="!recommandedLikes[i]" (click)="addToWhishlistRec(product,i)"><img src="assets/logo/love.svg"  alt=""></a>
                            <a *ngIf="recommandedLikes[i]" (click)="addToWhishlistRec(product,i)"><img src="assets/logo/love Active@1x.png"  alt=""></a>
                            <a *ngIf="!recommandedCarts[i]" (click)="addToCartRec(product,i)"><img src="assets/logo/cart.svg"  alt=""></a>
                            <a *ngIf="recommandedCarts[i]" (click)="addToCartRec(product,i)"><img src="assets/icons/Cart-actv.svg"  alt=""></a>
                        </div>
                        </div>
                    </div>
                </div>
            </app-slider>
            <div class="card-deck mobile-slider">
                <div class="card" *ngFor="let product of recProducts;let i=index">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct(product.id)" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct(product.id)">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                    <p class="card-text">{{product?.product?.name}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">{{ product?.product?.price }}.00<small>EGP</small></h5>
                        <a *ngIf="!recommandedLikes[i]" (click)="addToWhishlist(product.id)"><img src="assets/logo/love.svg"  alt=""></a>
                        <a *ngIf="recommandedLikes[i]" (click)="addToWhishlist(product.id)"><img src="assets/logo/love Active@1x.png"  alt=""></a>
                        <a *ngIf="!recommandedCarts[i]" (click)="addToCart(product.id)"><img src="assets/logo/cart.svg"  alt=""></a>
                        <a *ngIf="recommandedCarts[i]" (click)="addToCart(product.id)"><img src="assets/icons/Cart-actv.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pop">
    <div class="row">
        <div class="col-12-lg">
            <p class="recommended">Popular products</p>
        </div>
        
        <div class="col-lg-12">
            <app-slider class="desktop-slider">
                <div class="card-deck" appSliderItem>
                    <div class="card" *ngFor="let product of popularProducts;let i = index">
                        <div class="my-wrapper">
                            <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct(product.id)" alt="...">
                            <div class="middle">
                                <div class="text" (click)="navigateProduct(product.id)">learn More</div>
                            </div>
                        </div>
                        <div class="card-body">
                        <p class="card-text">{{product?.product?.name}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="card-price-like">
                            <h5 class="price">{{ product?.product?.price }}.00<small>EGP</small></h5>
                            <a *ngIf="!popularLikes[i]" (click)="addToWhishlistPopul(product,i)"><img src="assets/logo/love.svg"  alt=""></a>
                            <a *ngIf="popularLikes[i]" (click)="addToWhishlistPopul(product,i)"><img src="assets/logo/love Active@1x.png"  alt=""></a>
                            <a *ngIf="!popularCarts[i]" (click)="addToCartPopul(product,i)"><img src="assets/logo/cart.svg"  alt=""></a>
                            <a *ngIf="popularCarts[i]" (click)="addToCartPopul(product,i)"><img src="assets/icons/Cart-actv.svg"  alt=""></a>
                        </div>
                        </div>
                    </div>
                </div>
            </app-slider>
            <div class="card-deck mobile-slider">
                <div class="card" *ngFor="let product of recProducts">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct(product.id)" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct(product.id)">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                    <p class="card-text">{{product?.product?.name}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">{{ product?.product?.price }}.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>


