<nav class="navbar navbar-light nav-desktop" >
    <a class="navbar-brand" href="#">
        <img src="assets/logo/logo@1x.png"  alt="">
    </a>
    <div class="like">
       
        </div>
    <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button  class="btn btn-primary search" type="button"  (click)="goTo()"><img src="assets/logo/Search@1x.png"  alt="" ></button>
    </form>
    <div class="like">
       
        </div>
  

    <div class="cart">
        <a href="#"><img src="assets/logo/Cart Active@1x.png"  alt=""></a>
        <a href="#"><img src="assets/logo/love Active@1x.png"  alt=""></a>
    </div>

    <div class="like">   
    </div>
    <div class="like">
       
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light nav-mobile">
    
  
    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="mobile-logo" src="assets/logo/final-logo@2x.svg" alt="" (click)="goHome()">
    </div>
    <div>
        <img class="mobile-cart" src="assets/logo/Cart Active@1x.png" alt="">
        <img  class="mobile-love" src="assets/logo/love Active@1x.png" alt="">
    </div>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="showCate">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" (click)="showHideBorderFromMobile(0,categories[1]?.id)">
          <a class="nav-link" routerLink="./search"  [ngClass]="{'down': menueList[0]}"   >{{ categories[1]?.name }}</a>
        </li>
        <ul *ngIf="menueList[0]" class="nav-subCate">
          <li  *ngFor="let subCate of subCategories;let i=index">
              <a (click)="selectSubCate(i)">{{ subCate.name }}</a> 
              <ul class="" *ngIf="menueList[0] && subCateProducts[i]">
                  <li><a href="#">Huawei P30 Lite</a></li>
                  <li><a href="#">Oneplus 6t</a></li>
                  <li><a href="#">Huawei Y7 2019 </a></li>
                  <li><a href="#">Honor 10 lite</a></li>
              </ul> 
          </li>
        </ul>
        <li class="nav-item">
          <a class="nav-link"  routerLink="./search" (click)="showHideBorderFromMobile(1,categories[2]?.id)" [ngClass]="{'down': menueList[1]}"    >{{ categories[2]?.name }}</a>
        </li>
        <ul *ngIf="menueList[1]" class="nav-subCate">
            <li *ngFor="let subCate of subCategories;let i=index">
                <a (click)="selectSubCate(i)">{{ subCate.name }}</a> 
                <ul class="" *ngIf="menueList[1] && subCateProducts[i]">
                    <li><a href="#">Huawei P30 Lite</a></li>
                    <li><a href="#">Oneplus 6t</a></li>
                    <li><a href="#">Huawei Y7 2019 </a></li>
                    <li><a href="#">Honor 10 lite</a></li>
                </ul>  
            </li>
          </ul>
        <li class="nav-item">
          <a class="nav-link" routerLink="./search" (click)="showHideBorderFromMobile(2,categories[0]?.id)"  [ngClass]="{'down': menueList[2]}"  >{{ categories[0]?.name }}</a>
        </li>
        <ul *ngIf="menueList[2]" class="nav-subCate">
          <li *ngFor="let subCate of subCategories;let i=index">
              <a (click)="selectSubCate(i)">{{ subCate.name }}</a> 
              <ul class="" *ngIf="menueList[2] && subCateProducts[i]">
                  <li><a href="#">Huawei P30 Lite</a></li>
                  <li><a href="#">Oneplus 6t</a></li>
                  <li><a href="#">Huawei Y7 2019 </a></li>
                  <li><a href="#">Honor 10 lite</a></li>
              </ul>  
          </li>
        </ul>
        <li class="nav-item">
          <a class="nav-link" routerLink="./search" (click)="showHideBorderFromMobile(3,categories[3]?.id)"  [ngClass]="{'down': menueList[3]}"  >{{ categories[3]?.name }}</a>
        </li>
        <ul *ngIf="menueList[3]" class="nav-subCate">
          <li *ngFor="let subCate of subCategories;let i=index">
              <a (click)="selectSubCate(i)">{{ subCate.name }}</a> 
              <ul class="" *ngIf="menueList[3] && subCateProducts[i]">
                  <li><a href="#">Huawei P30 Lite</a></li>
                  <li><a href="#">Oneplus 6t</a></li>
                  <li><a href="#">Huawei Y7 2019 </a></li>
                  <li><a href="#">Honor 10 lite</a></li>
              </ul>  
          </li>
        </ul>
        <li class="nav-item">
          <a class="nav-link" routerLink="./search" (click)="showHideBorderFromMobile(4,categories[4]?.id)" [ngClass]="{'down': menueList[4]}"  >{{ categories[4]?.name }}</a>
        </li>
        <ul *ngIf="menueList[4]" class="nav-subCate">
          <li *ngFor="let subCate of subCategories;let i=index">
              <a (click)="selectSubCate(i)">{{ subCate.name }}</a> 
              <ul class="" *ngIf="menueList[4] && subCateProducts[i]">
                  <li><a href="#">Huawei P30 Lite</a></li>
                  <li><a href="#">Oneplus 6t</a></li>
                  <li><a href="#">Huawei Y7 2019 </a></li>
                  <li><a href="#">Honor 10 lite</a></li>
              </ul>   
          </li>
        </ul>
        <!-- <div class="header-list" (mouseenter)="showBorderFromList()" (mouseleave)="hideBorderFromList()"> 
          <div class="container">
              <div class="row">
                  <div class="col-lg-2" *ngFor="let subCate of subCategories">
                      <p class="title">{{ subCate.name }}</p> 
                      <ul class="types">
                          <li><a href="#">Huawei P30 Lite</a></li>
                          <li><a href="#">Oneplus 6t</a></li>
                          <li><a href="#">Huawei Y7 2019 </a></li>
                          <li><a href="#">Honor 10 lite</a></li>
                      </ul>
                  </div>
              </div>
          </div>
        </div> -->
      </ul>
     
    </div>
    <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-primary search" type="button" ><img src="assets/logo/Search@1x.png"  alt="" (click)="goTo()"></button>
        </form>
  </nav>

  <header class="header">
      <div class="container">
          <div class="row header-links">
              <ul class="header-links-main">
                <li *ngIf="showCate" ><a routerLink="./search" (mouseover)="showBorder(0,categories[1]?.id)" [ngClass]="{'down': menueList[0]}">{{ categories[1].name }}</a></li>
                <li *ngIf="showCate" ><a routerLink="./search" (mouseover)="showBorder(1,categories[2]?.id)" [ngClass]="{'down': menueList[1]}">{{ categories[2].name }}</a></li>
                <li *ngIf="showCate" ><a routerLink="./search" (mouseover)="showBorder(2,categories[0]?.id)" [ngClass]="{'down': menueList[2]}">{{ categories[0].name }}</a></li>
                <li *ngIf="showCate" ><a routerLink="./search" (mouseover)="showBorder(3,categories[3]?.id)" [ngClass]="{'down': menueList[3]}">{{ categories[3].name }}</a></li>
                <li *ngIf="showCate" ><a routerLink="./search" (mouseover)="showBorder(4,categories[4]?.id)" [ngClass]="{'down': menueList[4]}">{{ categories[4].name }}</a></li>
                <div class="header-list" (mouseenter)="showBorderFromList()" (mouseleave)="hideBorderFromList()"> 
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-2" *ngFor="let subCate of subCategories">
                              <p class="title">{{ subCate.name }}</p> 
                              <ul class="types">
                                  <li><a href="#">Huawei P30 Lite</a></li>
                                  <li><a href="#">Oneplus 6t</a></li>
                                  <li><a href="#">Huawei Y7 2019 </a></li>
                                  <li><a href="#">Honor 10 lite</a></li>
                              </ul>
                          </div>
                          <!-- <div class="col-lg-2">
                              <p class="title">Popular Mobiles</p>
                              <ul class="types">
                                    <li><a href="#">IPhone 8 | X </a></li>
                                    <li><a href="#">S9 I S9+</a></li>
                                    <li><a href="#"> Infinix X5010</a></li>
                                    <li><a href="#">Tecno Camon CX</a></li>
                                    <li><a href="#">Meizu m6</a></li>
                              </ul>
                          </div> -->
                          <!-- <div class="col-lg-2">
                              <p class="title">Tablets</p>
                              <ul class="types">
                                <li><a href="#">7 - 7.9 Inch</a></li>
                                <li><a href="#">8 - 8.9 Inch</a></li>
                                <li><a href="#">9 - 9.9 Inch</a></li>
                                <li><a href="#">10 Inch & Above</a></li>
                              </ul>
                            </div> -->
                          <!-- <div class="col-lg-2">
                              <p class="title">Brands</p>
                              <ul class="types">
                                <li><a href="#">Lenovo</a></li>
                                <li><a href="#">Samsung</a></li>
                                <li><a href="#">Huawei</a></li>
                                <li><a href="#">Alcatel</a></li>
                                <li><a href="#">All brands</a></li>
                              </ul>
                          </div> -->
                          <!-- <div class="col-lg-4"><img src="assets/1.jpg" class="cat1" alt="Responsive image"></div> -->
                      </div>
                      <!-- <div class="row second-part">
                        <div class="col-lg-2">
                            <p class="title">New Arrivals</p>
                            <ul class="types">
                                <li><a href="#">Huawei P30 Lite</a></li>
                                <li><a href="#">Oneplus 6t</a></li>
                                <li><a href="#">Huawei Y7 2019 </a></li>
                                <li><a href="#">Honor 10 lite</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2"> 
                            <p class="title">Popular Mobiles</p>
                            <ul class="types">
                                <li><a href="#">IPhone 8 | X </a></li>
                                <li><a href="#">S9 I S9+</a></li>
                                <li><a href="#"> Infinix X5010</a></li>
                                <li><a href="#">Tecno Camon CX</a></li>
                                <li><a href="#">Meizu m6</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2">
                            <p class="title">Popular Mobiles</p>
                            <ul class="types">
                                <li><a href="#">7 - 7.9 Inch</a></li>
                                <li><a href="#">8 - 8.9 Inch</a></li>
                                <li><a href="#">9 - 9.9 Inch</a></li>
                                <li><a href="#">10 Inch & Above</a></li>
                            </ul>
                        </div>
                        
                    </div> -->
                  </div>
                </div>
              </ul>

              
          </div>
      </div>
  </header>
