
<nav class="navbar navbar-light ">
    <a class="navbar-brand" href="#">
        <img src="assets/logo/logo@1x.png"  alt="">
    </a>
    <div class="like">
       
        </div>
    <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary search" type="submit" ><img src="assets/logo/Search@1x.png"  alt=""></button>
    </form>
    <div class="like">
       
        </div>
  

    <div class="cart">
        <a href="#"><img src="assets/logo/Cart Active@1x.png"  alt=""></a>
        <a href="#"><img src="assets/logo/love Active@1x.png"  alt=""></a>
    </div>

    <div class="like">   
    </div>
    <div class="like">
       
        </div>
  </nav>
  <header class="header">
      <div class="container">
          <div class="row">
              <ul>
                <li><a href="#">Mobile & Tablets</a></li>
                <li><a href="#">Mobile Accessories</a></li>
                <li><a href="#">TVs & Smart TVs</a></li>
                <li><a href="#">Speakers & Headphones</a></li>
                <li><a href="#">Gaming Solutions</a></li>
              </ul>
          </div>
      </div>
  </header>
  