.navbar {
    background-color:#ececec
}
.navbar-brand {
    margin-left: 6rem;
}

img {
    width: auto;
    height: auto;
}

.form-control {
    width: 600px;
    border: 1px;
}
.search {
    background-color: #E30B13;
    border-color: #E30B13;
    padding-right: 30px;
    padding-left: 30px;
}
.search > img {
    width: 20px;
}
.cart :first-child{
    padding-right: 10px;
}
.cart :nth-child(1) > img {
    width: 36px;
}

.cart :nth-child(2) > img{
    width: 32px;
}

.header {
    background-color: #E30B13;
}
.header-links {
    position: relative;
}
.header-links  ul.header-links-main {
    list-style-type:none;
    margin: 1rem;
    margin-left: 170px;
   
}

.header-links ul.header-links-main > li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    
}
.header-links > ul.header-links-main > li a {
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.header-links > ul.header-links-main > :first-child a {
   
    margin-left: -75px;
    
}
.down {
    border-width: 5px;
    border-bottom-style: solid;
    padding-bottom: 14px;
    border-color: #fff;
}
.header-links > ul.header-links-main > li a:hover {
    border-width: 5px;
    border-bottom-style: solid;
    padding-bottom: 14px;
    border-color: #fff;
}
// .mm {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
// }
// #slider {
//     /*height: 350px;
//     overflow: hidden;
//     width: 100%;*/
// }

// .carousel-item {
//     height: 350px;
// }

// .carousel-indicators li {
//     width: 10px;
//     height: 10px;
//     border-radius: 100%;
// }
// .carousel-indicators {
//     bottom: -50px;
// }

// body {
//     background-color: lightslategray;
// }
.header-list {
    background-color: #fff;
    z-index: -1;
    position: absolute;
    padding-top: 1%;
    padding-bottom: 5%;
    left: 150px;
    top: 55px;
    width: 930px;
    opacity: 0;
}

.header-links ul li:hover~div.header-list {
    opacity: 1;
    transition: opacity 600ms ease;
    z-index: 1000;
}
.header-list:hover{
    opacity: 1;
    z-index: 1000;
}
 .title {
    color:#E30B13;
    font-family: 'Roboto-Bold';
    font-weight: bold;
    font-size: 14px;
}
.types {
    list-style-type:none;
    padding-inline-start: 0px;
}

.types a {
   color: #4b5858;
   font-family: 'Roboto-Medium';
   font-size: 15px;
   line-height: 35px;
   text-decoration: none;
}

.second-part {
    margin-top: -8%!important;
}

.header {
    display: block;
}
.nav-desktop {
    display: inline-flexbox;
}
.nav-mobile {
    display: none;
}
.header-list-spinner {
    margin: auto;
    padding-top: 50px;
}
app-looping-rhombuses-spinner#desktop-spinner{
    margin: 50px auto;
}
/* Mobile Style */
@media (max-width: 576px) { 
    .header {
        display: none;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: flex;
        background-color: rgba(236, 236, 236, 1) !important;
    }
    
 
    .navbar-light .navbar-toggler {
        border-color: unset; 
        border: 1px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(../../../assets/logo/Group4Copy@2x.svg);
    }
    .mobile-logo {
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
    
    }
    .mobile-love {
        margin-right: 18px;
    }
    .mobile-cart {
        margin-right: 25px;
    }
    .search {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 12px;
        padding-left: 12px;
    }
    .form-control {
        height: 33px;
        width: 80%
    }
    .form-inline {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .header-list {
        background-color: #fff;
        z-index: 1;
        position: absolute;
        left: 37px;
        top: 321px;
        width: 60%;
        padding-top: 1%;
        padding-bottom: 5%;
    }
    .types {
        margin-top: -11px;
        margin-bottom: 7px;
    }
    .types a {
        color: #4b5858;
        font-family: "Roboto-Medium";
        font-size: 9px;
        line-height: 10px;
        text-decoration: none;
    }
  
    .cat1 {
        display: none;
    }

    // .nav-item ul li:hover~div.header-list {
    //     opacity: 1;
    //     transition: opacity 600ms ease;
    //     z-index: 1000;
    // }
    // .header-list:hover{
    //     opacity: 1;
    //     z-index: 1000;
    // }
    // ul.navbar-nav > li a:hover {
    //     border-width: 5px;
    //     border-bottom-style: solid;
    //     padding-bottom: 14px;
    //     border-color: #fff;
    // }
    ul.nav-subCate{
        padding-inline-start: 20px;
        margin-top: 20px;
    }
    ul.nav-subCate li {
        list-style-type: none;
       
    }
    .sub-cate-list-product {
        margin-top: -36px;
        margin-bottom: -48px;
    }
    ul.nav-subCate li a {
        color: rgba(0,0,0,.5);
        padding: .5rem 1rem;
        background-color: transparent;
    }
    ul.nav-subCate li a:hover {
        color: rgba(0,0,0,.7);
    }
    ul.nav-subCate li ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }
 }

 @media screen and (device-aspect-ratio: 40/71) {
    .header-list {
        background-color: #fff;
        z-index: 1;
        position: absolute;
        left: 37px;
        top: 347px;
        width: 60%;
        padding-top: 1%;
        padding-bottom: 5%;
    }
   
 }