.navbar {
    background-color:#ececec
}
.navbar-brand {
    margin-left: 6rem;
}

img {
    width: auto;
    height: auto;
}

.form-control {
    width: 600px;
    border: 1px;
}
.search {
    background-color: #E30B13;
    border-color: #E30B13;
    padding-right: 30px;
    padding-left: 30px;
}
.search > img {
    width: 20px;
}
.cart :first-child{
    padding-right: 10px;
}
.cart :nth-child(1) > img {
    width: 36px;
}

.cart :nth-child(2) > img{
    width: 32px;
}

.header {
    background-color: #E30B13;
}

.header ul {
    list-style-type:none;
    margin: 1rem auto !important;
   
}

.header ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    
}
.header ul li a {
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 16px;
    text-decoration: none;
}

.header ul :first-child a {
   
    margin-left: -75px;
    
}
.down {
    border-width: 5px;
    border-bottom-style: solid;
    padding-bottom: 14px;
    border-color: #fff;
}
// .mm {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
// }
// #slider {
//     /*height: 350px;
//     overflow: hidden;
//     width: 100%;*/
// }

// .carousel-item {
//     height: 350px;
// }

// .carousel-indicators li {
//     width: 10px;
//     height: 10px;
//     border-radius: 100%;
// }
// .carousel-indicators {
//     bottom: -50px;
// }

// body {
//     background-color: lightslategray;
// }
.header-list {
    background-color: #fff;
    z-index: 100001;
    position: absolute;
    left: 25%;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 5%;
}
.header-list .title {
    color:#E30B13;
    font-family: 'Roboto-Bold';
    font-weight: bold;
    font-size: 12px;
}
.types {
    list-style-type:none;
    padding-inline-start: 0px;
}

.types a {
   color: #4b5858;
   font-family: 'Roboto-Medium';
   font-size: 12px;
   line-height: 23px;
   text-decoration: none;
}

.second-part {
    margin-top: -8%!important;
}