<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="row checkout">
                    <div class="col-lg-12 checkout-description">
                        <p class="total">Total</p>
                        <p class="price">1000,00 <span>EGP</span></p>
                        <p class="percentage">95% OFF</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block checkout-now">Checkout Now</button>
                        <hr>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="promo" placeholder="Add Coupon Code">
                            </div>
                            <button type="submit" class="btn btn-primary apply" > Apply</button>
                        </form>
                    </div>
                    
                </div>
                <div class="row wishlist ">
                    <div class="col-12-lg">
                        <img src="assets/logo/love.svg" alt="">
                        <p>Wishlist</p>
                    </div>
                </div>
                <div class="row cart">
                    <div class="col-12-lg">
                        <img src="assets/logo/cart.svg" alt="">
                        <p>Your Cart</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 card-list">
                <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="assets/Tv.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <h5 class="card-title">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</h5>
                          <p class="card-text"><small class="brand">UnionAir, Televisions</small></p>
                            <div class="custom-control custom-checkbox save-for-later">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Save for later</label>
                            </div>
                            <div class="custom-control custom-checkbox remove">
                                    <input type="checkbox" class="custom-control-input " id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Remove</label>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="assets/Tv.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <h5 class="card-title">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</h5>
                          <p class="card-text"><small class="brand">UnionAir, Televisions</small></p>
                            <div class="custom-control custom-checkbox save-for-later">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Save for later</label>
                            </div>
                            <div class="custom-control custom-checkbox remove">
                                    <input type="checkbox" class="custom-control-input " id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Remove</label>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="assets/Tv.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <h5 class="card-title">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</h5>
                          <p class="card-text"><small class="brand">UnionAir, Televisions</small></p>
                            <div class="custom-control custom-checkbox save-for-later">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Save for later</label>
                            </div>
                            <div class="custom-control custom-checkbox remove">
                                    <input type="checkbox" class="custom-control-input " id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Remove</label>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="assets/Tv.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <h5 class="card-title">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</h5>
                          <p class="card-text"><small class="brand">UnionAir, Televisions</small></p>
                            <div class="custom-control custom-checkbox save-for-later">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Save for later</label>
                            </div>
                            <div class="custom-control custom-checkbox remove">
                                    <input type="checkbox" class="custom-control-input " id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Remove</label>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>