<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Thank you for your order</h1>
                <h5>Your order number is</h5>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12">

    <div style="float: left">
        <button (click)="scrollLeft()">left</button>
    </div>

    <div #widgetsContent class="middle">
        <div class="info-widget">
        WIDGETdsfsdaf
        </div>
        <div class="info-widget">
        WIDGETsdfsdaf
        </div>
        <div class="info-widget">
        WIDGETsdafsadf
        </div>
        <div class="info-widget">
        WIDGETsfsdafsdaf
        </div>
        <div class="info-widget">
        WIDGETdfsafsf
        </div>
        <div class="info-widget">
        WIDGETsafsdaf
        </div>
    </div>

    <div style="float: right">
        <button (click)="scrollRight()">right</button>
    </div>
    </div>
    
        </div>
    
</div> -->