section{
    background-color: rgba(236, 240, 241, 1);
}
div.row.checkout{
    background-color: white;
    margin-top: 80px;
    padding-bottom: 15px;
}
p.total {
   color:  rgba(22, 45, 54, 1);
   font-family: 'Montserrat-Light' !important;
   font-size: 14px;
}
  
p.percentage {
   color: rgba(22, 45, 54, 1);
   margin-top: -15px;

}
.checkout-now {
    background: rgba(46, 204, 113, 1);
    border-color: rgba(46, 204, 113, 1);
    color: white;
    border-radius: .1rem;
    font-size: 14px;
    padding: .8rem 1rem;
    
}
.checkout-description{
    margin-top: 20px;
}
.form-group{
    min-width: 67%;
    max-width: 67%;
}
.form-control {
    width: 100%;
    font-size: 12px;
    padding: 20px 10px 20px 25px;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}
.apply{
    background: rgba(46, 204, 113, 1);
    border-color: rgba(46, 204, 113, 1);
    padding: 15px 10px 15px 25px;
    font-size: 13px;
    padding: 11px 20px 10px 20px;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
}
.wishlist {
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 15px;
    cursor: pointer;
   
}
.wishlist img {
    margin-left: 30px;
    margin-right: 20px;
}
.wishlist p {
    display: inline-block;
}
.cart {
    background-color: rgba(249, 59, 47, 1);
    color: white;
    padding-top: 15px;
    margin-bottom: 100px;
    cursor: pointer;

    
}
.cart p {
    display: inline-block;
}

.cart img {
    margin-left: 30px;
    margin-right: 20px;
}
.card-list {
    margin-top: 80px;
    margin-bottom: 150px;
}
.card-title {
    color: rgba(22, 45, 54, 1);
    font-weight: bold;  
    margin-bottom: .75rem; 
      
}
.card-text {
    margin-top: -8px;
    margin-bottom: 40px;
}
.brand {
    color: rgba(52, 152, 219, 1) !important;
    font-family: 'Montserrat-Light';
    margin-top: -8px;
}
.card-img {
    width: 100%;
}
.save-for-later {
    display: inline-block;
   
}
.remove {
    display: inline-block;
    margin-left: 30px;
}
label {
    font-size: 10px;
    color: rgba(52, 152, 219, 1);
}
.custom-control-label::after {
    position: absolute;
    top: 1px;
    left: -1.5rem;
    display: block;
    width: 14px;
    height: 14px;
    content: "";
    background: no-repeat 50%/50% 50%;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 4px !important;
}



.custom-control-label::before {
    position: absolute;
    top: 1px;
    left: -1.5rem;
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    border-radius: 4px !important;
}

.custom-checkbox .custom-control-label::before {
    // border-radius: unset !important;
}
.price {
    color: rgba(231, 76, 60, 1);
    font-family: 'Montserrat-Bold' !important;
    font-size: 14;
    margin-top: -35px;
    margin-bottom: 5px;

}

.price span {
    font-family: 'Montserrat-Bold' !important;
    font-size: 10px;
}
.card-body {
    padding: 15px;
    padding-bottom: 0px;

}
.save-for-later p {
    font-size: 10px;
    color: rgba(52, 152, 219, 1);
    cursor: pointer;
    font-size: 12px;
}
.remove p {
    font-size: 10px;
    color: rgba(52, 152, 219, 1);
    cursor: pointer;
    font-size: 12px;
}
@media (max-width: 576px) {  
    .card-title {
       font-size: 12px;
    }  
    .card-text {
        margin-top: -12px;
        margin-bottom: 40px;
        font-size: 12px;
    }
    .price {
        color: #e74c3c;
        font-family: "Montserrat-Bold" !important;
        font-size: 12px !important;
        margin-top: -40px;
        margin-bottom: -4px;
    }
    .save-for-later p {
        font-size: 10px;
       
    }
    .card-body {
        padding: 10px;
        margin-bottom: -17px;
        
    }
}