<footer>
<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul class="contact">
            <li>Phone : +20 012 33 560 935</li>
            <li>Address : 79 Mosadaq St. Dokii Giza</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="contact">
            <li class="about-us" (click)="navAbout()">About Us</li>
            <li class="contact-us" (click)="navContact()">Contact Us</li>
        </ul>
      </div>
      <div class="col-lg-4">
       <ul class="social">
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
       </ul>
       <p>Developed and maintained by <span>Bit68</span></p>
      </div>
    </div>
  </div>
</footer>