<footer>
  <div class="container">
    <div class="row">
      <ul class="contact">
        <li>
          <div class="col-12">
            <span style="font-weight: bolder;">Address :</span>
            52, Gamaet El Dowal El Arabeya,Mohandseen - Mostafa Mahmoud Square -
            Giza - Egypt
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-4 col-8">
        <ul class="contact">
          <li>
            <span style="font-weight: bolder;">Phone :</span> +20 012 22 104 471
          </li>
          <li>
            <span style="font-weight: bolder;">Phone :</span> +20 010 02 104 471
          </li>
          <li>
            <span style="font-weight: bolder;">Phone :</span> +20 333 89 574
          </li>
          <!-- <li>
            Address : 52, Gamaet El Dowal El Arabeya,Mohandseen - Mostafa
            Mahmoud Square - Giza - Egypt
          </li> -->
        </ul>
      </div>
      <div class="col-lg-4 col-4">
        <ul class="contact">
          <li class="about-us" (click)="navAbout()">About Us</li>
          <li class="contact-us" (click)="navContact()">Contact Us</li>
        </ul>

        <ul class="social social-mobile">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-12">
        <ul class="social social-desktop">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
        <p class="developed">Developed and maintained by <span>Bit68</span></p>
      </div>
    </div>
  </div>
</footer>
