footer {
    background-color: #E30B13 !important;
    padding-bottom: 60px;
    padding-top: 30px;
}
.contact {
    list-style-type:none;
}
ul li {
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: #ffffff;
    line-height: 35px;
}
.social  li{
    display: inline-block;
    // background-color: #d8d8d8;
    width: 25px;
    height: 25px;
    // border-radius: 50%;
    margin: 0 3px 0 3px;
}
.social  li a {
    color: white;
}
p {
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #ecf0f1; 
}
p > span {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #ecf0f1;
}
.about-us {
  cursor: pointer;
}
.contact-us {
 cursor: pointer;
}
.social-mobile {
    display: none;
}
.social-mobile {
    display: none;
}
.social-desktop {
    display: block;
}

i {
    font-family:FontAwesome !important;
    font-size: 18px;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #38A1F3;
}
.fa-facebook:hover {
    color: #4267b2;
}
.fa-instagram:hover {
    color: #231F20;
}
@media (max-width: 576px) {
    ul {
        padding-inline-start: unset;
    }
    ul li {
        font-size: 10px;
        color: #ffffff;
        line-height: 19px;
    }
    .social-mobile {
        display: block;
        margin-top: -13px;
        margin-left: -5px;
    }
    .social-desktop {
        display: none;
    }
    .social li {
        width: 15px;
        height: 15px;
    }  
    .developed {
        font-family: "Roboto-Light";
        font-size: 10px;
        color: #ecf0f1;
        text-align: center;
    } 
    .developed > span {
        font-family: "Roboto-Medium";
        font-size: 12px;
        color: #ecf0f1;
    }
    i {
        font-family:FontAwesome !important;
        font-size: 12px;
        cursor: pointer;
    }
    
    
 }

 

 @media screen and (device-aspect-ratio: 40/71) {
    .social li {
        width: 13px;
        height: 13px;
    }  
   
 }