<div class="container-fluid wrapper">
    <div class="row content">
        <div class="col-lg-3 ">
            <div class="sort first">
                <p>Sort By</p>
                <i class="fa fa-angle-down" ></i>
                <select>
                        
                    <option>Price : Low To High</option>
                    <option>Price : Low To High</option>
                    <option>Price : Low To High</option>
                    <option>Price : Low To High</option>
                   
                </select>
                
            </div>
            <div class="search first">
                <p>Categories</p>
                <img src="assets/icons/close.png" alt="">
                <div class="categories">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Category 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Category 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                                Category 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                                Category 1
                        </label>
                    </div>   
                </div>
                <hr>
                <p>Brand</p>
                <img src="assets/icons/close.png" alt="">
                <div class="brands">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Category 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Category 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                                Category 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                                Category 1
                        </label>
                    </div>   
                </div>
                <hr>
                <p>Price</p>
                <img src="assets/icons/close.png" alt="">
                <div class="slider">
                    <p class="from">From</p>
                    <p class="to">To</p>
                    <input type="range"  (change)="mm($event)">
                </div>
                <div class="values">
                    <p>2,150.00 <span>EGP</span></p>
                    <p>17,500.00 <span>EGP</span></p>
                </div>
            </div>
       
           
        </div>
        <div class="col-lg-9 products">
            <div class="card-deck">
                <div class="card">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct('1')" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct('1')">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                        <p class="card-text"><small class="text-muted">UnionAir, Televisions</small></p>
                        <div class="card-price-like">
                            <h5 class="price">2,150.00<small>EGP</small></h5>
                            <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                            <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct('1')" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct('1')">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct('1')" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct('1')">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct('1')" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct('1')">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct('1')" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct('1')">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="my-wrapper">
                        <img src="assets/Tv.jpg" class="card-img-top"  (click)="navigateProduct('1')" alt="...">
                        <div class="middle">
                            <div class="text" (click)="navigateProduct('1')">learn More</div>
                        </div>
                    </div>
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card-deck">
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                        <p class="card-text"><small class="text-muted">UnionAir, Televisions</small></p>
                        <div class="card-price-like">
                            <h5 class="price">2,150.00<small>EGP</small></h5>
                            <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                            <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                        <p class="card-text"><small class="text-muted">UnionAir, Televisions</small></p>
                        <div class="card-price-like">
                            <h5 class="price">2,150.00<small>EGP</small></h5>
                            <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                            <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                        <p class="card-text"><small class="text-muted">UnionAir, Televisions</small></p>
                        <div class="card-price-like">
                            <h5 class="price">2,150.00<small>EGP</small></h5>
                            <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                            <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                        <p class="card-text"><small class="text-muted">UnionAir, Televisions</small></p>
                        <div class="card-price-like">
                            <h5 class="price">2,150.00<small>EGP</small></h5>
                            <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                            <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/Tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">UnionAir 32 Inch HD LED TV - M -LD-32UN-PB816-EXD</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="card-price-like">
                        <h5 class="price">2,150.00<small>EGP</small></h5>
                        <a href="#"><img src="assets/logo/love.svg"  alt=""></a>
                        <a href="#"><img src="assets/logo/cart.svg"  alt=""></a>
                    </div>
                    </div>
                </div>
            </div> -->
        </div>
        
    </div>
</div>