<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 first">
            <div class="sort">
                <p>Sort By</p>
                <select>
                    <option>Price : Low To High</option>
                    <option>Price : Low To High</option>
                    <option>Price : Low To High</option>
                    <option>Price : Low To High</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            fsdafaf
        </div>
        <div class="col-lg-4">
            
        </div>
        <div class="col-lg-4">
            
        </div>
    </div>
</div>