<div class="container-fluid wrapper" style="background-color: white;">
    <div class="row content">
        <div class="col-lg-3 ">
            <div class="sort first">
                <p>Sort By</p>
                <i class="fa fa-angle-down"></i>
                <select (change)="sort($event)" [(ngModel)]="sortSelect">
          <option value=""></option>
          <option value="-price">Price : High To Low</option>
          <option value="price">Price : Low To High</option>
          <option value="name">Alphabetical </option>
        </select>
            </div>
            <div class="search first">
                <div class="header-cate">
                    <p>Categories</p>
                    <div class="images">
                        <img src="assets/icons/close.png" alt="" *ngIf="!showCateg" (click)="toggleCateg()" />
                        <img src="assets/icons/open.png" alt="" *ngIf="showCateg" (click)="toggleCateg()" />
                    </div>
                </div>
                <div class="categories" *ngIf="showCateg">
                    <div class="form-check" *ngFor="let cate of categories; let i = index">
                        <input class="form-check-input" type="checkbox" [value]="cate.id" id="defaultCheck" (change)="category($event)" [(ngModel)]="cateCheck[i]" />
                        <label class="form-check-label" for="defaultCheck1">
              {{ cate.name }}
            </label>
                    </div>
                </div>
                <hr />

                <div class="header-cate">
                    <p>Brand</p>
                    <div class="images">
                        <img src="assets/icons/close.png" alt="" *ngIf="!showBrand" (click)="toggleBrand()" />
                        <img src="assets/icons/open.png" alt="" *ngIf="showBrand" (click)="toggleBrand()" />
                    </div>
                </div>

                <div class="brands" *ngIf="showBrand">
                    <div class="form-check" *ngFor="let brand of brands; let i = index">
                        <input class="form-check-input" type="checkbox" [value]="brand.id" id="defaultCheck2" (change)="brandSelect($event)" [(ngModel)]="brandCheck[i]" />
                        <label class="form-check-label" for="defaultCheck2">
              {{ brand.name }}
            </label>
                    </div>
                </div>
                <hr />
                <div class="header-cate">
                    <p>Price</p>
                    <div class="images">
                        <img src="assets/icons/close.png" alt="" *ngIf="!showPrice" (click)="togglePrice()" />
                        <img src="assets/icons/open.png" alt="" *ngIf="showPrice" (click)="togglePrice()" />
                    </div>
                </div>
                <span *ngIf="showPrice">
          <div class="price-slider">
            <div class="from">From</div>
            <div class="to">To</div>
          </div>
          <div class="price-range">
            <!-- ng5-slider to component for range slider -->
            <ng5-slider
              [(value)]="value"
              [(highValue)]="highValue"
              [options]="options"
              (userChangeEnd)="price($event)"
            >
            </ng5-slider>
          </div>
          <div class="price-value">
            <div class="min">{{ value }}.00<span>EGP</span></div>
            <div class="high">{{ highValue }}.00<span>EGP</span></div>
        </div>
        </span>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block clear" (click)="clearSearch()">
        Clear
      </button>
</div>
<div class="col-lg-9 col-12 products">
    <span class="filter" *ngIf="filterSpinner">
        <!-- spinner for waitting response from filter API -->
        <app-fulfilling-square-spinner
          id="filter"
          [animationDuration]="4000"
          [size]="50"
          [color]="'#E30B13'"
        >
        </app-fulfilling-square-spinner>
        <app-fulfilling-square-spinner
          id="filterMobile"
          [animationDuration]="4000"
          [size]="40"
          [color]="'#E30B13'"
        >
        </app-fulfilling-square-spinner>
      </span>

    <div class="card-deck" *ngIf="!filterSpinner">
        <div class="card" *ngFor="let product of result; let i = index">
            <div class="my-wrapper">
                <img src="{{ (product?.productimage)[0]?.image_url }}" class="card-img-top" (click)="navigateProduct(product?.id)" alt="..." />
                <div class="middle">
                    <div class="text" (click)="navigateProduct(product?.id)">
                        learn More
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" (click)="navigateProduct(product?.id)">
                    {{ product?.name }}
                </p>
                <p class="card-text" (click)="navigateProduct(product?.id)">
                    <small class="text-muted">{{ product?.brand?.name }}</small>
                </p>
                <div class="card-price-like">
                    <h5 class="price">{{ product.price }}.00<small>EGP</small></h5>
                    <a (click)="compare(product.id)">
                        <fa-icon size="1x" [icon]="sync"></fa-icon>
                    </a>
                    <a *ngIf="!likes[i]" (click)="addToWhishlist(product?.id, i)"><img src="assets/logo/love.svg" alt="" /></a>
                    <a *ngIf="likes[i]" (click)="addToWhishlist(product?.id, i)"><img src="assets/logo/love Active@1x.png" alt="" /></a>

                    <a *ngIf="!carts[i] && product?.availability == 'In Stock'" (click)="addToCart(product.id, i)"><img src="assets/logo/cart.svg" alt="" /></a>

                    <a *ngIf="carts[i]" (click)="addToCart(product.id, i)"><img src="assets/icons/Cart-actv.svg" alt="" /></a>
                </div>
            </div>
            <div style="background-color: #298f1d;color: white ;text-align: center;" class="card-footer" *ngIf="!carts[i] && product?.availability == 'In Stock'">
                <a role="button" (click)="buy(product)">Buy Now</a>
            </div>
        </div>
    </div>

    <div *ngIf="result.length == 0" class="empty">
        <h5>No products found for this category</h5>
    </div>
</div>
</div>
</div>