<!-- Slider  First Image In Array Of Slides Must Be Out Of *ngFor  -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- sliderAct Is First Image In Our Array Of Image sliders  -->
      <img src="{{ sliderAct?.picture }}" class="d-block w-100" alt="..." style="cursor:pointer;"
        (click)="navigateSlider(sliderAct?.url)">
    </div>
    <div class="carousel-item" *ngFor="let slider of sliders">
      <img src="{{ slider?.picture }}" class="d-block w-100" alt="..." style="cursor:pointer;"
        (click)="navigateSlider(slider?.url)">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<div class="container-fluid products featured" style="background-color: white;">
  <div class="row">
    <h5>Featured products</h5>
  </div>
  <div class="row ">
<!-- tayeb adding 2 arrows for nav -->
  <div class="col-lg-11" style="height: 58px;" *ngIf="featuredProducts.length>4">
      <div class="controls">
          <div class="arrow-right">
              <!-- scroll to right -->
              <img src="assets/icons/Arrow right@1x.png" (click)="scrollRecomRight()" alt="">
          </div>
          <div class="arrow-left">
              <!-- scroll to left -->
              <img src="assets/icons/Arrow left@1x.png" (click)="scrollRecomLeft()" alt="">
          </div>
      </div>
    </div>

    <!-- Bootstrap4 Cards -->
    <div class="card-deck" #recommendedScroll>
      <ng-container *ngFor="let product of featuredProducts; let i=index">
        <div class="card">
          <!-- my-wrapper position relative to middle class to display show more button in the middle of product image when hover -->
          <div class="my-wrapper">
            <!-- Product Has Array Of Images So We Display First Image In Product Images Array -->
            <img src="{{ product?.productimage[0]?.image_url }}" class="card-img-top"
              (click)="navigateProduct(product?.id)" alt="...">
            <div class="middle">
              <div class="text" (click)="navigateProduct(product?.id)">learn More</div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text" (click)="navigateProduct(product?.id)">{{ product?.name }}</p>
            <p class="card-text" (click)="navigateProduct(product?.id)"><small
                class="text-muted">{{ product?.brand?.name }}</small></p>
            <div class="card-price-like">
              <h5 class="price">{{ product?.price}}.00<small>EGP</small></h5>
              <!-- here we use angular-icons -->
              <a (click)="compare(product?.id)">
                <fa-icon size="1x" [icon]="sync"></fa-icon>
              </a>
              <a *ngIf="!likes[i]" (click)="addToWhishlist(product?.id,i)"><img src="assets/logo/love.svg" alt=""></a>
              <a *ngIf="likes[i]" (click)="addToWhishlist(product?.id,i)"><img src="assets/logo/love Active@1x.png"
                  alt=""></a>
              <!-- Product Out Of Stock Hide Cart -->
              <a *ngIf="!carts[i] && product?.availability == 'In Stock'" (click)="addToCart(product?.id,i)"><img
                  src="assets/logo/cart.svg" alt=""></a>
              <a *ngIf="carts[i]" (click)="addToCart(product?.id,i)"><img src="assets/icons/Cart-actv.svg" alt=""></a>
            </div>
          </div>
          <div (click)="buy(product)" style="background-color: #0b4d26;color: white ;text-align: center;" class="card-footer" *ngIf="!carts[i] && product?.availability == 'In Stock'">
            <a  role="button">Buy Now</a>
          </div>

          <div style="background-color: grey;color: white ;text-align: center;" class="card-footer" *ngIf="carts[i] || !(product?.availability == 'In Stock')">
            <a  role="button">Buy Now</a>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>

<!-- Display Featured Categories Here , Must Be 5 Categories not Less Or More To Make Design Suitable -->
<!-- <div class="container-fluid mid">
  <div class="row rowMid">
    <div class="col-lg-3  col-sm-12 cat">
      <div class="cat-info" *ngIf="showCate" (click)="searchCategory(categories[1]?.id)">
        <img src="{{ categories[1].picture }}" class="cat1 " alt="Responsive image">
        <div class="title">
          <div class="title-text">{{ categories[1]?.name }}</div>
        </div>
      </div>
      <div class="cat-info" *ngIf="showCate" (click)="searchCategory(categories[2]?.id)">
        <img src="{{ categories[2].picture }}" class="cat1 " alt="Responsive image">
        <div class="title">
          <div class="title-text">{{ categories[2]?.name }}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3  col-sm-12 cat">
      <div class="cat-info" *ngIf="showCate" (click)="searchCategory(categories[0]?.id)">
        <img src="{{ categories[0].picture }}" class="cat1 " alt="Responsive image">
        <div class="title">
          <div class="title-text">{{ categories[0]?.name }}</div>
        </div>
      </div>
      <div class="cat-info" *ngIf="showCate" (click)="searchCategory(categories[3]?.id)">
        <img src="{{ categories[3].picture }}" class="cat1" alt="Responsive image">
        <div class="title">
          <div class="title-text">{{ categories[3]?.name }}</div>
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-sm-12 cat">
      <div class="cat-info" *ngIf="showCate" (click)="searchCategory(categories[4]?.id)">
        <img src="{{categories[4].picture}}" class="last-categ " alt="Responsive image ">
        <div class="sale">BIG SALE 50%</div>
        <div class="title-game"> {{ categories[4]?.name }}</div>
      </div>

    </div>
  </div>
</div> -->
<!-- Here List All Products  -->
<div class="container-fluid products featured" style="background-color: white;">
  <div class="row">
    <h5>Popular products</h5>
  </div>
  <div class="row ">
    <!-- tayeb adding 2 arrows for nav -->
  <div class="col-lg-11" style="height: 58px;" *ngIf="popularProducts.length>4">
      <div class="controls">
          <div class="arrow-right">
              <!-- scroll to right -->
              <img src="assets/icons/Arrow right@1x.png" (click)="scrollPopularRight()" alt="">
          </div>
          <div class="arrow-left">
              <!-- scroll to left -->
              <img src="assets/icons/Arrow left@1x.png" (click)="scrollPopularLeft()" alt="">
          </div>
      </div>
    </div>
    <!-- Bootstrap4 Cards -->
    <div class="card-deck" #popularScroll>
      <div class="card" *ngFor="let product of popularProducts; let i=index">
        <!-- my-wrapper position relative to middle class to display show more button in the middle of product image when hover -->
        <div class="my-wrapper">
          <!-- Product Has Array Of Images So We Display First Image In Product Images Array -->
          <img src="{{ product?.productimage[0]?.image_url }}" class="card-img-top"
            (click)="navigateProduct(product?.id)" alt="...">
          <div class="middle">
            <div class="text" (click)="navigateProduct(product?.id)">learn More</div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text" (click)="navigateProduct(product?.id)">{{ product?.name }}</p>
          <p class="card-text" (click)="navigateProduct(product?.id)"><small
              class="text-muted">{{ product?.brand?.name }}</small></p>
          <div class="card-price-like">
            <h5 class="price">{{ product?.price}}.00<small>EGP</small></h5>
            <!-- here we use angular-icons -->
            <a (click)="compare(product?.id)">
              <fa-icon size="1x" [icon]="sync"></fa-icon>
            </a>
            <a *ngIf="!likes[i]" (click)="addToWhishlist(product?.id,i)"><img src="assets/logo/love.svg" alt=""></a>
            <a *ngIf="likes[i]" (click)="addToWhishlist(product?.id,i)"><img src="assets/logo/love Active@1x.png"
                alt=""></a>
            <!-- Product Out Of Stock Hide Cart -->
            <a *ngIf="!carts[i] && product?.availability == 'In Stock'" (click)="addToCart(product.id,i)"><img
                src="assets/logo/cart.svg" alt=""></a>
            <a *ngIf="carts[i]" (click)="addToCart(product?.id,i)"><img src="assets/icons/Cart-actv.svg" alt=""></a>

          </div>
        </div>
        <div style="background-color: #0b4d26;color: white ;text-align: center;" class="card-footer" *ngIf="!carts[i] && product?.availability == 'In Stock'">
          <a  role="button" (click)="buy(product)">Buy Now</a>
        </div>
        <div style="background-color: grey;color: white ;text-align: center;" class="card-footer" *ngIf="carts[i] || !(product?.availability == 'In Stock')">
          <a  role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
