.mid {
    background-color: #e74c3c;
}
.rowMid {
    margin-left: 10%;
}
.cat {
    margin-top: 5%;
    margin-bottom: 5%;
    flex: 0 0 0%;
    padding-right: 0%;
}

.cat1 {
    margin-bottom: 4%;
}