<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="row checkout" *ngIf="checkout">
                    <div class="col-lg-12 checkout-description col-12">
                        <p class="total">Total</p>
                        <p class="price">{{ total }},00 <span>EGP</span></p>
                        <p class="percentage">95% OFF</p>
                        <button *ngIf="!order" type="button" class="btn btn-primary btn-lg btn-block checkout-now" (click)="navCheckout()">Checkout Now</button>
                        <button *ngIf="order" type="button" class="btn btn-primary btn-lg btn-block checkout-now">Order Now</button>
                        <hr>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="promo" placeholder="Add Coupon Code">
                            </div>
                            <button type="submit" class="btn btn-primary apply" > Apply</button>
                        </form>
                    </div>
                    
                </div>
                <div class="row wishlist" (click)="activateTab('wishlist')" #whishlist>
                    <div class="col-12-lg col-12">
                        <a>
                            <img *ngIf="!loveAct" src="assets/icons/heartwhite.svg" alt="">
                            <img *ngIf="loveAct" src="assets/icons/heartblack.svg" alt="">
                            <p>Wishlist</p>
                        </a>
                    </div>
                </div>
                <div class="row cart" (click)="activateTab('cart')" #cart>
                    <div class="col-12-lg">
                        <a  >
                            <img *ngIf="cartAct" src="assets/icons/Cartblack@2x.png" alt="">
                            <img *ngIf="!cartAct" src="assets/icons/Cartwhite.svg" alt="">
                            <p>Your Cart</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 card-list">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>

